@import "bits";

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	background-color: #f5f5f5;
	font-family: Roboto, "Open Sans", sans-serif;
	color: $primary-text-color;
}

.main {
	&:before {
		background-color: $primary-color;
		content: '';
		width: 100%;
		height: 10em;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.section-title,
.save,
.articles {
	margin: 0 auto;
	width: 100%;
	@media (min-width: 37.5em) {
		width: 80%;
	}
}

h1,
.section-title {
	padding: .5rem 1rem;
	@media (min-width: 37.5em) {
		padding: .75rem 2rem;
	}
}

h1 {
	background-color: $primary-color-dark;
	color: $primary-color-text;
	margin: 0;
	width: 100%;
}

.loader {
	border-color: rgba(0, 0, 0, 0.2);
	border-top-color: rgba(0, 0, 0, 1);
	border-radius: 100%;
	border-style: solid;
	border-width: .35rem;
	height: 3rem;
	width: 3rem;
	animation: loading 1s infinite linear;
}
@keyframes loading {
	0%   { transform: rotate(0); }
	100% { transform: rotate(359.9deg); }
}

.save {
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.16), 0px 0px 5px 0px rgba(0,0,0,.23);
	border-radius: 0 0 3px 3px;
	margin: 2rem auto;
	form {
		@extend %clearfix;
		padding: 1em;
		@media (min-width: 37.5em) {
			padding: 2em;
		}
	}
	.title {
		font-weight: 300;
		margin: 0;
	}
	fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}
	label {
		display: block;
		margin: 2em 0;
	}
	[data-hook="label"] {
		display: inline-block;
		width: 25%;
	}
	input,
	textarea {
		padding: 1em;
		vertical-align: middle;
		width: 75%;
	}
	textarea {
		height: 7em;
	}
	[type="submit"] {
		@extend %button;
		float: right;
	}
	.inactive {
		display: none;
	}
}

.articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 1rem;
}
.article {
	background-color: #fff;
	border: 1px solid $divider-color;
	flex-basis: 100%;
	height: 15rem;
	margin: 1rem 0;
	padding: 1em 1rem;
	position: relative;
	@media (min-width: 37.5em) {
		flex-basis: 45%;
	}
	@media (min-width: 65em) {
		flex-basis: 30%;
	}
	.title {
		font-weight: 600;
		font-size: .9em;
		line-height: 1.4;
		margin: 0 0 .5em 0;
		a {
			color: $primary-color-dark;
			&:hover {
				color: $accent-color;
			}
		}
	}
	.article-remove {
		background-color: transparent;
		border: none;
		cursor: pointer;
		opacity: 0;
		position: absolute;
		bottom: 0;
		right: 0;
		&.confirm {
			color: red;
		}
	}
	&:hover {
		.article-remove {
			opacity: .4;
			&:hover {
				opacity: 1;
			}
		}
	}
	.content {
		/*
		  line-height: .9em * 1.4
		   margin-bottom: .9em * .5
		 */
		height: calc(100% - 1.26em - .45em);
		overflow: scroll;
		p {
			margin: 0;
		}
	}
}
