<div class="article">
	<button type="button" class="article-remove" aria-label="remove article" data-confirm="false">
		<i class="material-icons">delete</i>
	</button>
	<h3 class="title"><a href="{{link}}">{{title}}</a></h3>
	<div class="content">
		<p>{{description}}</p>
	</div>
</div>
