:root {
  --primary-color-dark: #e64a19;
  --primary-color: #ff5722;
  --primary-color-light: #ffccbc;
  --primary-color-text: #ffffff;
  --accent-color: #03a9f4;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body {
  background-color: #f5f5f5;
  font-family: Roboto, 'Open Sans', sans-serif;
  color: var(--primary-text-color);
}

.loader {
  border-color: rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 1);
  border-radius: 100%;
  border-style: solid;
  border-width: 0.35rem;
  height: 3rem;
  width: 3rem;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359.9deg);
  }
}

button,
[type='submit'] {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
  color: var(--primary-text-clor);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 0.75em;
}
