<div class="article">
	<button type="button" class="article-remove tcon tcon-remove tcon-remove--check" aria-label="remove article" data-confirm="false">
		<span class="tcon-visuallyhidden">remove article</span>
	</button>
	<h3 class="title"><a href="{{link}}">{{title}}</a></h3>
	<p>{{description}}</p>
</div>
